In [4]:
import pandas as pd

df_pas = pd.read_csv('../data/MOPAC survey/PAS_buroughs.csv', delimiter=';')

df_pas['Borough'] = df_pas['Borough'].str.lower()
df_pas['Proportion'] = df_pas['Proportion'].str.replace(',', '.').astype(float)
df_pas['MPS'] = df_pas['MPS'].str.replace(',', '.').astype(float)

df_best_worst_borough = df_pas.groupby(['Borough', 'Measure'])['Proportion'].mean().unstack(fill_value=0)

df_best_worst_borough = df_best_worst_borough[df_best_worst_borough['Trust MPS'] > 0]

df_best_worst_borough = df_best_worst_borough[['Trust MPS']]

# find the top 5 boroughs
df_best_borough = df_best_worst_borough.sort_values(by=['Trust MPS'])

# find the bottom 5 boroughs
df_best_borough

Measure                 Trust MPS
Borough
hackney                  0.737812
lewisham                 0.745000
haringey                 0.748437
islington                0.756250
lambeth                  0.759375
enfield                  0.759687
croydon                  0.765000
waltham forest           0.765625
southwark                0.789687
camden                   0.790937
greenwich                0.799063
tower hamlets            0.805937
newham                   0.806562
redbridge                0.811250
wandsworth               0.811562
brent                    0.815000
barking and dagenham     0.815625
hammersmith and fulham   0.828438
barnet                   0.831562
merton                   0.832500
harrow                   0.833437
bromley                  0.834063
havering                 0.836250
hillingdon               0.838125
ealing                   0.839688
hounslow                 0.840625
richmond upon thames     0.841875
kingston upon thames     0.848750
bexley                   0.850313
sutton                   0.851562
city of westminster      0.858750
kensington and chelsea   0.860000